header{
    margin-top:0; 
    height: 100px;
    display: flex;
    vertical-align: middle;
    /*box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(255,255,255,.6);*/
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}
button{
    border: none;
    background: white;
}
input{
    border: none;
    background: white;
}
@font-face {
    font-family: Instagram-1; 
    src: url(../fonts/9424.ttf); 
   }
   @font-face {
    font-family: Instagram-2; 
    src: url(../fonts/3952.ttf); 
   }
   @font-face {
    font-family: Pacifico; 
    src: url(../fonts/Pacifico.ttf); 
   }
   @font-face {
    font-family: Raleway; 
    src: url(../fonts/Raleway-Light.ttf); 
   }
  
.site-name{
    font-family: Instagram-1;
    font-weight: 300;
    letter-spacing: 2px;
    display: inline-block;
    font-size: 32px;
    transform: scaleX(1.3);
    transform-origin: 0 0;
    
    margin-left:5%; 
}

.description p{
    margin-bottom: 0;
    margin-top: 0;
}
#log-out{
    margin-top:20px;
    margin-right: 10px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.25);
    cursor: pointer;
    border-radius: 50%;
    width: 44px;
    height: 43px;
    margin-left: 10px;
}
#user-pic{
    width:30px;
    font-size: 20px;
}
.postInfo{
   vertical-align: middle;
}
.postInfo b {
    font-family: Instagram-2;
    font-weight: 100;    
    transform: scaleX(1.2);
    margin-left: 1%;
    margin-right: 1%;
}
.postInfo date{
    font-family: Instagram-2;
    font-weight: 100;    
    transform: scaleX(1.2);
    margin-top: 8px;
    margin-right: 1%;
}
.user-name{
    font-family: Instagram-2;
    transform: scaleX(1.2);
    margin-left: 48%;
    margin-top: 30px;
    display: inline-block;
}

.like{
    display: inline-block;
    margin-left: 500px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 4px;

  box-shadow: 0 1px 1px 1px rgba(0,0,0,.25);
}
.add-post{
    display: inline-block;
    margin-left: 8%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 20px;
    

    box-shadow: 1px 1px 9px 1px rgba(0,0,0,.25)/*,
    inset 0 2px 0 rgba(255,255,255,.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0,0,0,.1);*/
}
.add-post:hover { 
    background: linear-gradient(rgb(255, 255, 255), rgb(197, 193, 193)) rgb(243, 243, 243);
}
#filter:hover{
    background: linear-gradient(rgb(255, 255, 255), rgb(197, 193, 193)) rgb(243, 243, 243);
}
#show-more:hover{
    background: linear-gradient(rgb(255, 255, 255), rgb(197, 193, 193)) rgb(243, 243, 243);
}
.site-name:hover{
    color: rgb(136, 136, 136);
}
.like:hover{
    background: linear-gradient(rgb(255, 52, 2), rgb(161, 40, 24)) rgb(182, 29, 29);
}
.description-button:hover{
    background: linear-gradient(rgb(255, 255, 255), rgb(197, 193, 193)) rgb(243, 243, 243);
}
#log-out:hover{
    background: linear-gradient(rgb(255, 255, 255), rgb(197, 193, 193)) rgb(243, 243, 243);
}
#sign-in ,#filter,#show-more{
   
    display: inline-block;
    margin-top:25px;
    margin-right: 10%; 
    border-radius: 14px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.25);
    font-size: 16px;
}
#sign-in{
    display: none;
}
#show-more{
    width: 131px;
    margin-left:42%;
    font-family: Instagram-2;
}

   

.description-button{
    cursor: pointer;
    
    border-radius: 50%;

    box-shadow: 0 1px 1px 1px rgba(0,0,0,.25);/*,
    inset 0 2px 0 rgba(255,255,255,.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0,0,0,.1);*/

}
.search {
    width: 131px;
    margin-top:40px; 
    height: 23px;
    position: relative;
  }
  
  .search input {
    border: none;
  }
  .search .input {

    width: 100%;
    padding: 8px 37px 9px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.25);
    font: 13px Tahoma, Arial, sans-serif;
    outline: none;
  }
  .search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
  }
  .search .submit {
    position: absolute;
    top: 5px;
    right: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    opacity: 0.5;
  }
  
  
  .search .submit:hover {
    opacity: 0.8;
  }
  
  
  input[type="search"] {
    -webkit-appearance: none;
  }
#sign-in span{
    font-family: Instagram-2;
    color: #000;
}

#filter span{
    font-family: Instagram-2;
    color: #000;
}
main{
    display: flex;
    justify-content: flex-start;
}
#wrapper{
    width: 640px;
    margin-left: 30%;
    padding-bottom: 90px;
}
.post{
    display: block;
    margin-top: 30px;
    border: 0 solid #000000;
    height: 815px;
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(255,255,255,.6);
 }
.postInfo{
  margin-left: 20px;
  margin-right: 70px;
  display: flex;
  justify-content: space-between;
 }
 .postInfo b{
     margin-top: 7px;
 }
.image{
  margin-top: 10px;
  width:640px; 
  height:640px;
}
.description{
  margin-top: 0;
  margin-left: 5px;
}
.description a{
    color: #000;
}
#sidebar{
    box-sizing: border-box;
    margin-left: 30px;
}
::-webkit-input-placeholder {
    color: rgb(2, 2, 2);
}
*:focus 
{
    outline-color: black;
    outline-width: medium;
}

#filter{
    margin-top: 25px;
    width: 131px;
}
@media screen and (max-width: 1770px){
    #wrapper{
        margin-left:25%;
    }
}
@media screen and (max-width: 1200px){
    #wrapper{
        margin-left:5%;
    }
}
@media screen and (max-width: 916px){
    #sidebar{
        display: none;
    }
    #wrapper{
        margin:0 auto;
    }
}
@media screen and (max-width: 640px){
   header{
       min-width: 640px !important;
   }
   footer{
       min-width: 640px !important;
   }
}
footer{
    box-shadow:         0px -3px 2px 0px rgba(2, 2, 2, 0.06);
    clear: both;
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
    border-top: 1px solid rgb(219, 219, 219);
    height: 80px;
}
.footer-elems{
    color: rgb(219, 219, 219);
    line-height: 12px;
    font-size: 10px;
    display: inline-block;
    margin-right: 50px;
    margin-top: 15px;
}
footer .site-name{
    
    display: inline-block;
}
.footer-elems b{
    display: block;
}
footer a{
    display: block;
    font-family: Instagram-2;
    color: rgb(44, 37, 37);
}